{% extends "layout.html" %}
{% block content %} 

<div id="blog">
    <div class="container">
        <h1 class="sub-title">Blog</h1>
        <div class="blog-list">
            <div>
                <i class="fa-solid fa-brain"></i>
                <h2>Computational thinking</h2>
                <a href="{{ url_for('comment') }}">Learn more</a>
            </div>
            <div>
                <i class="fa-solid fa-code"></i>
                <h2>Example of computational thinking</h2>
                <a href="{{ url_for('blogpost2') }}">Learn more</a>
            </div>
            <div>
                <i class="fa-regular fa-star"></i>
                <h2>Famous Computer scientist</h2>
                <a href="{{ url_for('blogpost3') }}">Learn more</a>
            </div>


        </div>
 
    </div>
 </div>
 {% endblock content %} 


