{% extends "layout.html" %}

{% block content %}
<div class="container">
<h1>Sophie Wilson</h1>
<article class="blog-content">
    <img src="static/images/Sophie_Wilson.jpeg">
    <blockquote cite="https://www.scijournal.org/articles/famous-female-computer-scientists"><p>Overnight Success Takes 30 years. </p></blockquote>
    <figcaption>—Sophie Wilson</figcaption>
</article>
<aside class="parah">
    <h3>Introduction</h3>
    <p class="blog-text">Sophie Wilson is a computer scientist who designed the architecture of BBC micro which won Acorn to sign a contract with BBC. She gave the ARM microprocessor an instruction set (RISC- Reduced instruction set computer) which is now found in almost half of the world's consumer electronics. There are currently over 200 billion ARM-powered chips in existence, with around 7 billion shipping every quarter, equating to 900 chips per second and 70 million chips a day. It is the most widely used processor architecture in smartphones. 
        <br>She is now a director at Broadcom, a US-based semiconductor company wherein she also contributed to broadband infrastructure by developing FirePath.
       <br> Maximum PC named her “The 15 Most Important Women in Tech History”, and she has been honored as Commander of the Order of the British Empire, a Fellow of the Royal Society, an honorary fellow at Selwyn College, and a Distinguished Fellow of the British Computer Society, among many other awards and honors. </p>
       <br><br>
        <h3>The making of BBC micro</h3>
        <p class="blog-text">During that era, 1981-86, microprocessors had just arrived and were sensationalized. But very few know how to work on them. So this is where consultancies stepped in and assisted bigger companies. Acorn had a whole range of powerful computer systems used in fruit machines, poker tables, etc. Other companies began to expand by bringing good microprocessors. 
           <br> Sophie came up with the idea to build a multiprocessor computer so that the I/O processor part would be deployed as a home computer. With it was the added component of a language processor, which could be a more powerful home computer, office automation computer, or scientific computer.
           <br> At the same time Chris Curry, director of Acorn, had found that BBC was making an in-depth TV series on computers, but they had no specific computer to work that matched all their purposes. So Acorn intended to come up with a design within a week. After fitting in circuits and building the machine with her colleagues, Sophie was in charge of porting the operating system, Acorn basic, debugging, and configuring the graphics controller. They were successful in building BBC Micro, a dual-processor machine. The BBC awarded them with a contract to build the BBC microprocessor.</p>
            <br><h3>How this changed the computing industry</h3>
            <p class="blog-text">Using the same processor technology, she came up with different microprocessors that are now found in most of the electronic devices we use today. Sophie’s pioneering work is in nearly every smartphone, tablet & smartwatch on the planet, and that work continues today as a Fellow and Distinguished Engineer at Broadcom.</p>
        </aside>
</div>

{% endblock %}        