{% extends "layout.html" %}
{% block content %} 

<div id="portfolio">
    <div class="container">
        <h1 class="sub-title">My Work</h1>

        <div class="work-list">
            <div class="work">
                <img src="static/images/StaticWebsite.png" alt="">
                <div class="layer">
                    <h3>Static Website</h3>
                    <p>Loream ipsum</p>
                    <a href="https://dhanu-shre3.github.io/AssessmentCMT119-StaticWebsite/"><i class="fa-solid fa-arrow-up-right-from-square"></i></i></a>
                </div>
            </div>

            <div class="work">
                <img src="static/images/RPS.png" alt="">
                <div class="layer">
                    <h3>Rock Paper Scissor Game</h3>
                    <p>Loream ipsum</p>
                    <a href="https://dhanu-shre3.github.io/rock-paper-scissor/"><i class="fa-solid fa-arrow-up-right-from-square"></i></i></a>
                </div>

            </div>

        </div>

    </div>
 </div>
 {% endblock content %} 

